# Ignore OS metadata
.DS_Store

# Ignore build artifacts
/build/
*.exe

# Ignore dependencies
node_modules/
vendor/

# Ignore environment secrets
.env
*.key

# Ignore IDE files
.idea/
.vscode/